body{
    text-align: center;
    background-color: aliceblue;
}
div{
    text-align: center;
    width: 300px;
    height: 150px;
    padding: 10px;
    margin: 10%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
h1{
   text-decoration: line-through;
}
input{
    padding: 10px;
}
button{
    padding: 10px;
    background-color: rgb(9, 158, 27);
    color: white;
    border: none;
    border-radius: 10px;
}